<section class="text-slate-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto border border-black">
    <div class="lg:w-4/5 mx-auto flex flex-wrap border border-red-300">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="../assets/images/tortilla-soup.jpg"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-slate-500 tracking-widest">RECIPE</h2>
        <h1 class="text-slate-700 text-3xl title-font font-medium mb-1">{{ title }}</h1>
        <div class="flex mb-4">
          <span class="flex items-center">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
              ></path>
            </svg>
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
              ></path>
            </svg>
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
              ></path>
            </svg>
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
              ></path>
            </svg>
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
              ></path>
            </svg>
            <span class="text-slate-600 ml-3">4 Reviews</span>
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-slate-200 space-x-2s">
            <a class="text-slate-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="text-slate-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a class="text-slate-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                ></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed">
          Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY.
          XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric.
          Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.
        </p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-slate-100 mb-5">
          <div class="flex">
            <span class="mr-3">Color</span>
            <button class="border-2 border-slate-300 rounded-full w-6 h-6 focus:outline-none"></button>
            <button
              class="border-2 border-slate-300 ml-1 bg-slate-700 rounded-full w-6 h-6 focus:outline-none"
            ></button>
            <button
              class="border-2 border-slate-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none"
            ></button>
          </div>
          <div class="flex ml-6 items-center">
            <span class="mr-3">Size</span>
            <div class="relative">
              <select
                class="rounded border appearance-none border-slate-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10"
              >
                <option>SM</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <span
                class="absolute right-0 top-0 h-full w-10 text-center text-slate-600 pointer-events-none flex items-center justify-center"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-slate-700">$58.00</span>
          <button
            class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
          >
            Button
          </button>
          <button
            class="rounded-full w-10 h-10 bg-slate-200 p-0 border-0 inline-flex items-center justify-center text-slate-500 ml-4"
          >
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-slate-600 body-font overflow-hidden">
  <div class="container px-5 pb-24 mx-auto border border-black">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <!-- Left Column: Ingredients -->
      <div class="p-4 md:w-1/2 w-full border border-purple-700">
        <div class="flex justify-between items-center">
          <h2 class="text-lg title-font font-bold text-slate-700 mb-3">Ingredients</h2>
          <div class="relative inline-block text-left">
            <div>
              <button
                type="button"
                class="inline-flex w-32 justify-between gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-slate-700 shadow-sm ring-1 ring-inset ring-slate-300 hover:bg-slate-50 text-left"
                id="menu-button"
                (click)="toggleDropdown()"
                [attr.aria-expanded]="isDropdownOpen"
                aria-haspopup="true"
              >
                Servings: {{ servings }}
                <svg class="-mr-1 h-5 w-5 text-slate-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
            @if (isDropdownOpen) {
              <div
                class="absolute right-0 z-10 mt-2 w-full origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
              >
                <div class="py-1" role="none">
                  <button
                    (click)="updateServings(1)"
                    class="text-slate-700 block px-4 py-2 text-sm w-full text-left hover:bg-slate-50"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    1
                  </button>
                  <button
                    (click)="updateServings(2)"
                    class="text-slate-700 block px-4 py-2 text-sm w-full text-left hover:bg-slate-50"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-1"
                  >
                    2
                  </button>
                  <button
                    (click)="updateServings(3)"
                    class="text-slate-700 block px-4 py-2 text-sm w-full text-left hover:bg-slate-50"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-2"
                  >
                    3
                  </button>
                  <button
                    (click)="updateServings(4)"
                    class="text-slate-700 block px-4 py-2 text-sm w-full text-left hover:bg-slate-50"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-3"
                  >
                    4
                  </button>
                </div>
              </div>
            }
          </div>
        </div>

        <div class="pt-4">
          <h3 class="text-md title-font font-medium text-slate-700 mb-3">In the pan</h3>
          <ul class="list-inside list-[katakana-iroha] space-y-2">
            <li>Eggplant</li>
            <li>Zucchini</li>
            <li>Red bell pepper</li>
            <li>Yellow bell pepper</li>
            <li>Tomato</li>
            <li>Garlic</li>
            <li>Onion</li>
            <li>Olive oil</li>
            <li>Fresh thyme</li>
            <li>Salt & pepper</li>
          </ul>
        </div>
        <div class="pt-4">
          <h3 class="text-md title-font font-medium text-slate-700 mb-3">Toppings</h3>
          <ul class="list-inside list-[katakana-iroha] space-y-2">
            <li>Olive oil</li>
            <li>Fresh thyme</li>
            <li>Salt & pepper</li>
          </ul>
        </div>
      </div>

      <!-- Right Column: Instructions -->
      <div class="p-4 md:w-1/2 w-full border border-indigo-500">
        <h2 class="text-lg title-font font-bold text-slate-700 mb-3">Instructions</h2>
        <ol class="list-decimal list-inside space-y-2">
          <li>Preheat the oven to 375°F (190°C).</li>
          <li>Slice the eggplant, zucchini, and bell peppers into thin rounds.</li>
          <li>
            Arrange the sliced vegetables in a circular pattern in a baking dish, alternating them and overlapping
            slightly.
          </li>
          <li>Drizzle with olive oil and sprinkle with minced garlic, salt, pepper, and thyme.</li>
          <li>Cover the dish with foil and bake for 40 minutes.</li>
          <li>Uncover and bake for an additional 20 minutes, until the vegetables are tender.</li>
          <li>Serve warm, garnished with fresh thyme.</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="text-slate-600 body-font overflow-hidden">
  <div class="container px-5 pb-24 mx-auto border border-black">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <!-- Left Column: Ingredients -->
      <div class="p-4 md:w-1/2 w-full border border-purple-700">
        <div class="flex items-center">
          <h2 class="text-lg title-font font-bold text-slate-700">Flex</h2>
          <div class="relative flex items-center group">
            <svg
              class="w-5 h-5 text-slate-700 hover:text-slate-500 dark:text-white cursor-pointer ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <div
              class="absolute text-sm left-full ml-4 w-80 p-2 bg-white border border-gray-200 shadow-lg rounded-md hidden group-hover:block"
            >
              <b class="text-md font-bold text-slate-700">What's Flex?</b>
              <p>
                In the Flex section we name the ingredients that are not vital for the recipe, followed by what we can
                substitute them with! 🥔 → 🥕
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <ul class="list-inside list-none space-y-2">
            <li>Eggplant</li>
            <li>Zucchini</li>
            <li>Red bell pepper</li>
            <li>Yellow bell pepper</li>
            <li>Tomato</li>
            <li>Garlic</li>
            <li>Onion</li>
            <li>Olive oil</li>
            <li>Fresh thyme</li>
            <li>Salt & pepper</li>
          </ul>
        </div>
        <div class="pt-4">
          <ul class="list-inside list-none space-y-2">
            <li>Olive oil</li>
            <li>Fresh thyme</li>
            <li>Salt & pepper</li>
          </ul>
        </div>
      </div>

      <!-- Right Column: Instructions -->
      <div class="p-4 md:w-1/2 w-full border border-indigo-500">
        <h2 class="text-lg title-font font-bold text-slate-700">Notes</h2>
        <ol class="list-decimal list-inside space-y-2 pt-4">
          <li>Preheat the oven to 375°F (190°C).</li>
        </ol>
      </div>
    </div>
  </div>
</section>
